body {
    background-color: #889696;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 25px;
    text-align: center;
    font-size: 24px;
}

main {
    background-color: #afc1c1;
    padding: 25px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    font-size: 16px;
    color: #333; 
    background-color: #9babab;
    text-align: center;
    position: static;
    padding: 10px;
    width: 100%; 
}

h1 {
    font-size: 36px;
    color: #206060;
}

p, label, input, select {
    font-size: 24px;
}

#image-container {
    border: 4px dashed red;
    display: inline-block;
    line-height: 0px;
}